<% layout('layout') -%>
<h1>New Property</h1>
<form method="POST" action="/properties">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="property[title]" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="property[description]" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Location</label>
    <input type="text" name="property[location]" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" name="property[price]" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
